@use '../../scss/' as *;

button {
    cursor: pointer;
    font-family: $font-family;
}

.btn {
    border: 0px solid transparent;
    color: $text-color-btn;
    background-image: linear-gradient(
        90deg,
        $start-btn-color,
        $end-btn-color
    );
    border-radius: $border-radius;
    box-shadow: 0px 0px 5px 6px rgba($color: #1cd3ac, $alpha: 0.2);
    padding: 0.7rem 1.8rem;
    font-size: 1.5rem;
    font-weight: 600;
    position: relative;
}

.btn:hover {
    box-shadow: 0px 0px 5px 6px rgba($color: #1cd3ac, $alpha: 0.4);
}

.btn-outline {
    border: 3px solid #ffffff;
    background-color: transparent;
    padding: 0.5rem 1.8rem;
    background-image: none;
    box-shadow: unset;
    color: $text-color-btn;

}

.btn-outline:hover {
    box-shadow: unset;
    color: $text-color-active;
    background-color: #fff;
}

.btn.small {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-width: 2px;
}

.btn.small--mobile {
    padding: 0.5rem 1rem;
    font-size: 0.76rem;
}

.btn-form {
    border-radius: 3px;
    background-color: $white;
    background-image: none;
    box-shadow: none;
    color: $body-bg;
    padding: 0.4rem 1rem;
    width: 100%;
    
    &:hover {
        box-shadow: 0px 0px 5px 6px rgba($color:  $white, $alpha: 0.4);
    }
}