$body-bg: #0f0f0f;
$main-color: #032541;
$text-color: #01b4e3;
$text-color-btn: #ffffff;
$text-color-active: #01b4e3;
$start-btn-color: #1cd3ac;
$end-btn-color: #01b4e3;

$white: #ffffff;

$header-height: 4rem;
$header-shrink-height: 3rem;
$border-radius: 50px;
$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$mobile-width: 740px;
$tablet-width: 1024px;

$font-family: 'Source Sans Pro', Arial, sans-serif;